@charset "UTF-8";
/*头部*/
/*背景色*/
/*边框颜色*/
/*tab下边框选中颜色*/
/*首页内容*/
/*顶部*/
/*字体颜色*/
/*边框颜色*/
/*顶部字体*/
/*一级字体颜色*/
/*个人信息字体颜色*/
/*个人信息提示字体颜色  系统通知hover*/
/*二级字体颜色*/
/*选中字体颜色*/
/*表单通过图片*/
/*密码强度背景色*/
/*模拟估分*/
/*侧边菜单颜色*/
/*注册*/
/*头部菜单*/
/**/
/*办事指南*/
/*页面背景图*/
/*政策法规*/
/**/
/*系统配置*/
/*模拟估分*/
/*用户注册*/
/*受理查询*/
/*办事指南*/
/*栏目服务*/
/*个人中心*/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/*头部*/
/*背景色*/
/*边框颜色*/
/*tab下边框选中颜色*/
/*首页内容*/
/*顶部*/
/*字体颜色*/
/*边框颜色*/
/*顶部字体*/
/*一级字体颜色*/
/*个人信息字体颜色*/
/*个人信息提示字体颜色  系统通知hover*/
/*二级字体颜色*/
/*选中字体颜色*/
/*表单通过图片*/
/*密码强度背景色*/
/*模拟估分*/
/*侧边菜单颜色*/
/*注册*/
.Notice p {
  margin-bottom: 0; }
.Notice h4 {
  font-size: 20px;
  font-size: 1.25rem;
  color: #333333;
  font-weight: 700; }

/*积分咨询*/
.Notice-box label {
  border: 1px solid #0e79df;
  border-radius: 4px;
  margin-left: 2.5%;
  font-weight: 500;
  width: 300px; }
  .Notice-box label input {
    height: 36px;
    line-height: 36px;
    outline: none;
    width: 240px;
    float: left;
    margin-left: 4px;
    border: none; }

/*栏目服务*/
.time_box {
  float: right;
  background: url("../../../img/Notice/time_border.png") repeat-y 20px 0; }
  .time_box .time_icon {
    padding-left: 14px;
    font-size: 12px;
    margin-top: -2px; }
    .time_box .time_icon .time_warp {
      margin: 0;
      padding-left: 20px; }
      .time_box .time_icon .time_warp h3 {
        margin-top: -16px;
        color: #333333; }
      .time_box .time_icon .time_warp p {
        color: #999999; }
    .time_box .time_icon .btn-default {
      background: #ececec;
      margin-bottom: 20px;
      color: #606060;
      outline: none; }

.Notice {
  padding: 12px 0;
  border-bottom: 1px dashed #a1c2e3; }
  .Notice li {
    padding: 12px 0; }
    .Notice li p {
      color: #666; }

/*搜索*/
.se_box {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e5e4e4; }
  .se_box .lists {
    padding-left: 10px; }
  .se_box li {
    height: 40px;
    border-bottom: 1px solid #535353; }
  .se_box .pull-right {
    padding-right: 10px; }

.border_r {
  position: relative;
  width: 64px;
  height: 64px;
  /*background: $_0e79df;
  border-radius: 60%;*/
  font-size: 16px;
  display: table-cell;
  vertical-align: middle;
  font-size: 1rem;
  color: #fff; }
  .border_r img {
    width: 64px;
    height: 64px; }
  @media only screen and (min-width: 1024px) and (max-width: 1440px) {
    .border_r {
      width: 50px;
      height: 50px; }
      .border_r img {
        width: 50px;
        height: 50px; } }
  .border_r .warps {
    width: 33px;
    height: 30px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 50%;
    margin-left: -16.5px;
    text-align: center;
    /*@include resolution(1024px,1440px){
      width: 36px;
      margin-top: -20px;
      margin-left: -18px;
    }*/ }

.se_inners {
  display: table;
  height: 64px; }
  @media only screen and (min-width: 1024px) and (max-width: 1440px) {
    .se_inners {
      height: 50px; } }
  .se_inners .wrap {
    display: table-cell;
    vertical-align: middle; }
    .se_inners .wrap .wrap_title {
      color: #333; }
    .se_inners .wrap .wrap_text {
      font-size: 14px;
      font-size: 0.875rem; }

.policy_list {
  /*  .policy_cont {
      width:100%;
      padding: 15px;
      border: 1px solid #e2e3e6;
    }*/
  /*无数据*/ }
  .policy_list .policy_nav {
    /*  width:100%;
      margin-top: 25px;
      margin-bottom: 0;
      li {
        float: left;
        padding: 5px 10px;
        margin-right: 10px;
        border: 1px solid #e2e3e6;
        border-bottom: none;
        background-color: #f6f6f6;
        cursor: pointer;
      }
      .active {
        background: $_0a6bca;
        color: #fff;
      }*/ }
  .policy_list .content_minh {
    margin-bottom: 46px;
    display: table;
    position: relative; }
  .policy_list .Notice {
    padding: 12px 0;
    border-bottom: 1px dashed #e5e4e4; }
    .policy_list .Notice p {
      color: #666; }
    .policy_list .Notice:last-child {
      border-bottom: none; }
  .policy_list .Notice_noText {
    display: table-cell;
    vertical-align: middle;
    border-bottom: none;
    color: #606060; }
    @media only screen and (min-width: 500px) and (max-width: 1440px) {
      .policy_list .Notice_noText img {
        height: 160px; } }
  .policy_list .Notice_noData {
    width: 560px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -280px;
    margin-top: -150px;
    /*margin-top: -90px;*/
    border-bottom: none; }
    @media only screen and (min-width: 500px) and (max-width: 1366px) {
      .policy_list .Notice_noData {
        /* position: relative;
         top:0;
         left:0;
         margin: 0 auto;*/
        width: 420px;
        top: 50%;
        left: 50%;
        margin-left: -210px;
        margin-top: -90px; } }
    @media only screen and (min-width: 1367px) and (max-width: 1440px) {
      .policy_list .Notice_noData {
        width: 460px;
        margin-left: -230px; } }
    @media only screen and (min-width: 500px) and (max-width: 1440px) {
      .policy_list .Notice_noData .pull-left img {
        height: 160px; } }
    .policy_list .Notice_noData p {
      margin-bottom: 10px; }
      @media only screen and (min-width: 500px) and (max-width: 1440px) {
        .policy_list .Notice_noData p {
          margin-bottom: 6px; } }
    .policy_list .Notice_noData .marginTop-60 {
      margin-top: 60px; }
      @media only screen and (min-width: 500px) and (max-width: 1440px) {
        .policy_list .Notice_noData .marginTop-60 {
          margin-top: auto; } }
    .policy_list .Notice_noData .color-333 {
      color: #333333; }
    .policy_list .Notice_noData .bordexR_box {
      width: 10px;
      height: 10px;
      background: #333;
      display: inline-block;
      border-radius: 60%;
      margin-right: 5px;
      margin-left: 25px; }
    .policy_list .Notice_noData .btns button {
      margin-top: 30px;
      margin-right: 10px;
      padding: 5px 20px;
      cursor: pointer;
      border: none;
      outline: none;
      border-radius: 4px;
      color: white; }
      @media only screen and (min-width: 500px) and (max-width: 1440px) {
        .policy_list .Notice_noData .btns button {
          margin-top: 10px; } }
    .policy_list .Notice_noData .btns .btn_back {
      background: rgba(36, 135, 232, 0.8); }
      .policy_list .Notice_noData .btns .btn_back:hover {
        background: #2487e8; }
    .policy_list .Notice_noData .btns .btn_load {
      background: rgba(65, 171, 246, 0.8); }
      .policy_list .Notice_noData .btns .btn_load:hover {
        background: #41abf6; }
    .policy_list .Notice_noData .btns i {
      padding-right: 10px; }

/*# sourceMappingURL=Notice.css.map */
