*{
    margin: 0;
    padding: 0;
}
.public_left{
    float: left!important;
}
.public_right{
    float: right!important;
}
.positionRelative{
    position: relative!important;
}
.positionAbsolute{
    position: absolute!important;
}
.borderRadius{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
body{
    background: #e6e9ed;
}.nav_header{
     height: 50px;
     line-height: 50px;
     font-size: 16px;
     color: #666;
     background: #eaedf1;
 }
.qkfxBox .qkfxBox_top .text img {
    vertical-align: middle;
    margin-right: 5px;
}
.nav_header img {
    padding: 12px;
    vertical-align: middle;
}
.nav_header .Service {
    color: #00c1de;
}
.qkfxBox{
    width: 98%;
    margin: 9px auto 10px auto;
    /*height: 700px;*/
    box-sizing: border-box;
    overflow: hidden;
}
.qkfxBox_top{
    width: 100%;
    /*height: 235px;*/
    background: white;
    box-shadow: 0 0 10px rgba(165, 177, 193, 0.6);
    /*box-shadow: 0 0 10px rgb(208, 77, 77);*/
}
.qkfxBox_top .text{
   padding: 20px 20px 0 20px;
    font-size: 16px;
    color: #333;

}
.qkfxBox_top_content{
    width: 80%;
    margin: 0 auto;
}
.qkfxBox_top .yue{
    width: 100%;
    position: relative;
    height: 115px;
    overflow: hidden;
}
.qkfxBox_top .yue ul{
    width: 84%;
    /*margin-top: 35px;*/
    float: left;
    /*height: 65px;*/
    overflow: hidden;
}
.list_left  li:hover,.list_right li:hover{
    cursor: pointer;
}
.qkfxBox_top .yue ul li{
    list-style: none;
    float: left;
}
.qkfxBox_top .list1{
    width: 84%;
    margin-left: 8%;
    height: 60px;
    overflow: hidden;
}

.qkfxBox_top .yue_border{
    width: 84%;
    margin-left: 8%;
}
.qkfxBox_top .yue .list_left,.qkfxBox_top .yue .list_right{
    width: 8%;
    padding-top: 49px;
}

.qkfxBox_top .yue .list{
    width: 84%;
}
.qkfxBox_top .yue .list_right {
    width: 8%;
    float: right;
}
.qkfxBox_top .yue .list_right li{
    float: right;
}
.qkfxBox_top .yue .list li{
    width: 8.3333%;
    padding-top: 49px;
    display: table-cell;
    text-align: center;
}
.qkfxBox_top .yue .list li img{
    padding-top: 2px;
}

.qkfxBox_top .list1 li {
    list-style: none;
    float: left;
    line-height: 50px;
    width: 8.3333%;
    height: 50px;
    text-align: center;
    color: #666;
}

.yue .qkfxborder{
    width: 98%;
    margin-left: 1%;
    height: 2px;
    margin-top: 80px;
    background: #c4e4fb;
}

.qkfx_pent {
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-left: 20%;
    color: #50adef;
    text-align: center;
    font-size: 12px;
    background: white;
    border: 1px solid #50adef;
    border-radius: 60%;
    margin-top: 14px;
}

.qkfx_next {
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-right: 20%;
    color: #b7b7b7;
    text-align: center;
    font-size: 12px;
    background: white;
    border: 1px solid #b7b7b7;
    border-radius: 60%;
    margin-top: 14px;
}

.qkfx_left img{
    margin-top: 19px;
}
.qkfxBox_top .list1 .list1_red {
    color: #e51400;
}
.qkfxBox_top .list1 .list1_yellow {
    color: #f1960a;
}
/*原点*/
ul.list1.list_borderRadius {
    margin-top: -13px;
}

/*中间*/
.qkfxBox_content{
    margin-top: 15px;
    overflow: hidden;
}
/**/

/*content*/
.qkfxBox-49{
    width: 49.5%;
    /*height: 294px;*/
    background: white;
    box-shadow: 0 0 10px rgba(165, 177, 193, 0.6);
}
.qkfxBox-49.qkfxBox-49-f6fffe {
    color: #1eb5ae;
}
.qkfxBox-49.qkfxBox-49-ecf3fa {
    color: #4792d9;
}
.qkfxBox_head {
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-weight: 600;
    font-size: 16px;
    background: #f8f8f8;
    color: #333;
}

.qkfxBox_head img,.qkfxBox_head span{
    vertical-align: middle;
}
.qkfxBox_box{
    width: 96%;
    margin: 20px auto;
    overflow: hidden;
}

.qkfxBox_box.qkfxBox_box_content {
    height: 266px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qkfxBox_box_31{
    float: left;
    margin-left: 3%;
    width: 29%;
    /*height: 100px;*/
    margin-bottom: 20px;

}

.qkfxBox-49-f6fffe .qkfxBox_box_31{
    background: #f6fffe;
    border: 1px solid #b5e7e4;
    box-shadow: 2px 4px 10px rgba(228, 239, 249, 0.6);
}
.qkfxBox-49-ecf3fa .qkfxBox_box_31{
    background: #ecf3fa;
    border: 1px solid #c2dbf2;
    box-shadow: 2px 4px 10px rgba(228, 239, 249, 0.6);
}
.qkfxBox_warp{
    width: 96%;
    margin: 0 auto;
}
.qkfxBox_warp_text{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
}

.qkfxBox-49-f6fffe .qkfxBox_warp_text{
    border-bottom:1px solid #abe5e2;
}
.qkfxBox-49-ecf3fa .qkfxBox_warp_text{
    border-bottom:1px solid #b2d1ee;
}
.qkfxBox_31_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.qkfxBox_31_bottom_left{
    width: 30%;
    text-align: right;
}
.qkfxBox_31_bottom_right{
    width: 70%;
    text-align: left;
}
.qkfxBox_box_31 .qkfxBox_warp .qkfxBox_31_bottom img{
    /*margin-right: 10px;*/
    vertical-align: middle;
}
.qkfxBox_box_31 .qkfxBox_warp .qkfxBox_31_bottom b{
    margin-top: 3px;
    font-size: 24px;
    font-weight: 600;
}
.qkfxBox_box_31 .qkfxBox_warp .qkfxBox_31_bottom .text_small{
    margin-top: 13px;
    font-size: 12px;
}




/*CA认证平台运行情况分析*/
.qkfxBox_content_33{
    padding-bottom: 10px;
}
.qkfxBox-33{
    box-shadow: 0 0 10px rgba(165, 177, 193, 0.6);
    /*box-shadow: 0 0 10px rgb(208, 77, 77);*/
    width: 32.33333%;
    background: white;
}
.qkfxBox-33_marfinLeft{
    margin-left: 1.5%;
}
.qkfxBox-33_warps{
    width: 121px;
    margin: 20px auto;
}
.qkfxBox-33_warps p {
    font-size: 18px;
    color: #666;
    text-align: center;
}
.qkfxBox-33_list{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
    color: white;
}
.qkfxBox-33_list li {
    width: 100%;
    height: 90px;
    margin-top: 10px;
    border-radius: 10px;
}
.qkfxBox-33_list .qkfxBox_li1{
    background: #79bdfc;
}
.qkfxBox-33_list .qkfxBox_li2{
    background: #59CB6D;
}
.qkfxBox-33_list .qkfxBox_li3{
    background: #9B94FD;
}

/*电子政务外网运行情况*/
/*下载提示层*/
.qkfx_shade{
    position: absolute;
    left: 50%;
    top: 70px;
    margin-left: -150px;
    z-index: 999;
    width: 300px;
    height:100px;
    line-height: 100px;
    text-align: center;
    background-color: #f3f3f3;
    font-size: 18px;
    color: #01C1DE;
    opacity: 0.7;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;;
}

.qkfx_shade span{
    padding-top: 10px;
}
.qkfx_shade .qkfx_shade_img img{
    vertical-align: middle;
}

/*center-left*/
.qkfxBox-49-right .qkfxBox_49_list{
    margin-top: 55px;
    width: 80%;
    color: white;
}
.qkfxBox_49_list li {
    width: 100%;
    height: 90px;
    margin-top: 20px;
    border-radius: 10px;
}
.qkfxBox_49_list .qkfxBox_li1 {
    background: #79bdfc;
}
.qkfxBox_49_list .qkfxBox_li3{
    background: #9B94FD;
}
/*下载*/
.yidong_box{
    height: 49px;
    text-align: center;
    display: none;
}
.yidong_bg{
    width: 100%;
    height: 49px;
    line-height: 40px;
    font-size: 14px;
    color: #0e79df;
    background: url(../images/yidong_bg.png)no-repeat;
    background-size: 100% 100%;
}
.yidong_bg:hover{
    cursor: pointer;
}

.ydong_border{
    width: 84%;
    margin-left: 8%;
    /*margin-top: -15px;*/
    position: relative;
}
/*高度1080-1024*/
@media only screen and (min-height: 910px)and (max-height: 990px){
    /*.qkfxBox-49.qkfxBox-49-f6fffe {*/
        /*color: #f1220f;*/
    /*}*/
    .qkfxBox_content {
        margin-top: 15px;
    }
    .qkfxBox_box {
        margin: 10px auto;
    }
    .qkfxBox_box.qkfxBox_box_content {
        height: 236px;
    }
    .qkfxBox_31_bottom {
        height: 55px;
    }
}
/*高度900-960*/
@media only screen and (min-height: 794px)and (max-height: 900px){
    .qkfxBox_content {
        margin-top: 10px;
    }
    .qkfxBox_top_content {
        width: 80%;
        margin: -29px auto 0;
    }
    .qkfxBox_top .list1 {
        height: 40px;
    }
    .qkfxBox_top .list1 li {
        line-height: 40px;
        height: 40px;
    }
    .qkfxBox_box {
        margin: 10px auto;
    }
    .qkfxBox_box.qkfxBox_box_content {
        height: 196px;
    }
    .qkfxBox_box_31 {
        margin-bottom: 10px;
    }
    .qkfxBox_31_bottom {
        height: 45px;
    }
}
/*1366*/

@media  screen and (min-height: 600px)and (max-height:768px){

    .qkfxBox{
        margin: 10px auto;
    }
    .qkfxBox_top_content{
        margin: -30px auto 0;
    }
    .qkfxBox_top .yue{
        height: 105px;
    }
    .qkfxBox_top .list1{
        height: 30px;
    }
    .qkfxBox_top .yue .list_left,.qkfxBox_top .yue .list_right{
        padding-top: 45px;
    }
    .qkfxBox_top .yue .list li img{
        padding-top: 2px;
        height: 55px;
        width: 55px;
    }
    .qkfxBox_top .yue .list li  .yidong_bg img{
        width: 14px;
        height: 13px;
    }
    .qkfxBox_top .list1 li {
        line-height: 30px;
        height: 30px;
    }
    .yue .qkfxborder{
        margin-top: 75px;
    }
    .list_left .qkfx_pent{
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-left: 10%;
    }
    .list_right .qkfx_next {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-right: 10%;
    }
    .qkfxBox_content{
        margin-top: 15px;
    }
    .qkfxBox_head {
        height: 30px;
        line-height: 30px;
    }
    .qkfxBox_box{
        margin: 10px auto 0;
    }
    .qkfxBox_box.qkfxBox_box_content {
        height: 156px;
    }
    .qkfxBox_box_31{
        margin-bottom:10px;

    }
    .qkfxBox_warp_text{
        height: 30px;
        line-height: 30px;
    }
    .qkfxBox_31_bottom{
        height: 35px;
    }
}

.qkfxBox-100{
    width: 100%;
    background: white;
    box-shadow: 0 0 10px rgba(165, 177, 193, 0.6);
}
.qkfxBox-100.qkfxBox-49-f6fffe {
    color: #1eb5ae;
}
.qkfxBox-100.qkfxBox-49-ecf3fa{
    color: #4792d9;

}

