@import "../personalData/color";
@import "../pull_img";
@import "../personalData/pulic";
@charset "utf-8";

@keyframes myfirst
{
  0%   {bottom:-20px; left:0;}
  100% {bottom:0; left:0;}
}
p{
  margin: 0;
}
.border_bs {
  border-bottom: 1px solid rgba(255, 255, 255,0.3);
}
.border_bd {
  border-bottom: 1px dashed rgba(255, 255, 255,0.3);
}
.textIndent{
  text-indent: 2em;
}
.marginTop-10{
  margin-top: 10px;
}
.home_box{
  width: 100%;
  height: 851px;
  background-image: url($home_bg);
  background-size: 100% 100%;
  .container{
    .pull-left{
      height: 400px;
      width: 65%;
      position: relative;
    }
    .home_box_l{
      position: absolute;
      top: 50%;
      transform: translate(0,-50%);
      h2{
        color: white;
        font-size: 48px;
        @include font-size(40px);
        text-shadow: 2px 2px 5px #000;
      }
      h3{
        color: white;
        font-size: 30px;
        @include font-size(30px);
        text-shadow: 2px 2px 5px #000;
      }
    }
    .pull-right{
      width: 35%;
      height: 400px;
      @include resolution(1024px,1366px){
        height: 140px;
        width: 323px;
      }
      @include resolution(1370px,1600px){
        height: 140px;
        width: 323px;
      }
      position: relative;
    }
    .home_box_r{
      width: 100%;
      height: 400px;
      position: absolute;
      top: 50%;
      transform: translate(0,-50%);
      //background-image: url($home_bgr);
      //background-size: 100% 100%;

    }
    #main{
      width: 100%;
      height: 100%;
    }
  }
  .bottom{
    width: 100%;
    background: $_0a5398;
    //margin-top: 80px;
    margin-top: 0;
    .bottom_left1{
      width: 40%;
      height: 100%;
    }
    .bottom_left2{
      width: 35%;
      height: 100%;
    }
    .bottom_left3{
      width: 25%;
      height: 100%;
      background: $_0e79df;
      a{
        color: #fff;
      }
    }
    .bottom_box {
      width: 90%;
      margin: 0 auto;
      color: white;
      .inners{
        height: 60px;
      }
      .bottom-left {
        float: left;
        //line-height: 60px;
      }
      .bottom-right {
        float: left;
        margin-left: 6px;
      }
      .p_hover{
        position: absolute;
        width: 523px;
        @include resolution(1024px,1366px){
          width: 368px;
        }
        @include resolution(1370px,1600px){
          width: 368px;
        }
        top: 0;
        left:0;
        background: rgba(96,98,114,0.5);
        color: #fff;
        padding-left: 5px;
        //display: none;
        transform: translate(0, -22px);
        transition: all 0.5s ease-in-out;
      }
      .bottom_img{
        cursor: pointer;
        position: relative;
        overflow: hidden;
        /*width: 450px;*/
        width:523px;
        height: 275px;
        @include resolution(1024px,1366px){
          height: 155px;
          width: 368px;
        }
        @include resolution(1370px,1600px){
          height: 155px;
          width: 368px;
        }
        .ck-slide-wrapper{
          height: 100%;
        }
        img{
          height: 275px;
          width: 523px;
          @include resolution(1024px,1366px){
            height: 155px;
            width: 368px;
          }
          @include resolution(1370px,1600px){
            height: 155px;
            width: 368px;
          }
        }
        &:hover .p_hover{
          cursor: pointer;
          //display: block;
          transform: translate(0, 0px);
          transition: all 0.5s ease-in-out;
        }
      }

    }
    .bottom_left2{
      .bottom_box .inners{
        height: 75px;

        @include resolution(1024px,1366px){
          height: 44px;
        }
        @include resolution(1370px,1600px){
          height: 44px;
        }
        display: table;
        .inner{
          display: table-cell;
          vertical-align: middle;
        }
        .bottom-left {
          line-height: 85px;
        }
        .bottom-right{
          margin: 12px 0 0;
          margin-left: 6px;
        }

        /*border-bottom: 1px dashed $border;*/
        &:last-child{
          border-bottom:none;
        }
      }
    }
    .bottom_left3{
      .bottom_box .inners{
        height: 120px;
        @include resolution(1024px,1366px){
          height: 77px;
        }
        @include resolution(1370px,1600px){
          height: 77px;
        }
        .bottom-left {
          line-height: 120px;
          @include resolution(1024px,1366px){
            line-height: 77px;
            margin-right: 5px;
          }
          @include resolution(1370px,1600px){
            line-height: 77px;
            margin-right: 5px;
          }
        }
        .bottom-right{
          margin: 40px 0 0;
          @include resolution(1024px,1366px){
            margin: 22px 0 0;
          }
          @include resolution(1370px,1600px){
            margin: 22px 0 0;
          }
          margin-left: 6px;
        }
      }
    }
  }
}
@media screen and (max-width: 1600px) {
  .home_box {
    height: 670px;
    .container {
      .pull-left,.pull-right {
        height: 260px;
      }
      .home_box_r {
        height: 260px;

      }
    }
    .bottom {
      margin-top: 50px;
    }
  }
}
@media screen and (max-width: 1366px) {
  .home_box {
    height: 559px;
    .container {
      .pull-left,.pull-right {
        height: 230px;
      }
      .home_box_r {
        height: 200px;

      }
    }
    .bottom {
      margin-top: 50px;
    }
  }
}

@media screen and (min-height: 1080px)and (max-height: 1200px) {
  .home_box {
    height: 971px;
    .container {
      .top{
        .pull-left,.pull-right {
          height:500px;
        }
      }
      .home_box_r {
        height: 320px;
      }
    }

  }
}